<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.joohyoung.cordova.videoplayer"
    version="1.0.2">

    <name>Video Player</name>
    <description>Native Video Player Plugin</description>
    <license>MIT</license>
    <keywords>cordova,media,player,video</keywords>
    <repo>https://github.com/joohyoung/cordova-plugin-videoplayer-full.git</repo>
    <issue>https://github.com/joohyoung/cordova-plugin-videoplayer-full/issues</issue>

    <js-module src="www/videoplayer.js" name="VideoPlayer">
        <clobbers target="VideoPlayer" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="VideoPlayer">
                <param name="ios-package" value="VideoPlayer" />
            </feature>
        </config-file>

        <source-file src="src/ios/VideoPlayer.m" />
        <header-file src="src/ios/LandscapeAVPlayerViewController.h" />
        <source-file src="src/ios/LandscapeAVPlayerViewController.m" />
        <header-file src="src/ios/PortraitAVPlayerViewController.h" />
        <source-file src="src/ios/PortraitAVPlayerViewController.m" />
    </platform>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="VideoPlayer">
                <param name="android-package" value="com.joohyoung.cordova.videoplayer.VideoPlayer"/>
            </feature>
        </config-file>

        <source-file src="src/android/VideoPlayer.java" target-dir="src/com/joohyoung/cordova/videoplayer" />

    </platform>

</plugin>
